<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/8a901d03fb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    
    <style>
      /* This style gives the container a border and a margin */
.container {
    border: 2px solid #000;  /* Adds a border */
    margin: 20px;           /* Adds margin */
    max-width: 600px;       /* Set a max-width to prevent the container from being too wide */
    width: 100%;  
    background-color: rgb(105, 130, 105); 
    border-radius: 15px;       
}

/* This style centers the container in the middle of the viewport */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}
</style>

</head>

<body>
<% if (message && message.length > 0) { %>
  <div class="alert alert-success" role="alert">
    <%= message %>
  </div>
<% } %>


<div class="container mt-5">
  <h1>Forgot Password</h1>



  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /forgotpassword route -->
          <form action="/forgotpassword" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Reset Password</button>
          </form>
          <br>
            <a href="/register" class="btn btn-dark">Sign Up / Register</a>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
