<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://kit.fontawesome.com/8a901d03fb.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      body {
        background-color: rgb(239, 234, 216)
        /* rgb(185, 155, 107) */
        /* rgb(243, 233, 159); */
      }

      .header-container {

        border-bottom: 3px solid rgb(13, 6, 36);
        background-color: rgb(105, 130, 105);

      }

      .container {
      border: 3px solid rgb(13, 6, 36);
      border-radius: 15px;
      background-color: rgb(105, 130, 105);
  }
  </style>
</head>
<header>
    <div class="header-container">
      <div class="row">
        >
          <div class="col-7 col-md-6">
           
              <h6 class="display-2" style="color: whitesmoke;">Squeak</h6>
              
              </div>
        <!-- <div class="row">
          <div class="col-2 col-md-2">
            <i class='fas fa-syringe' style='font-size:35px;color:red; padding: 4vh 2vw 3vh;'></i>
            </div>
            <div class="col-7 col-md-6">
                <h6 class="display-2" style="color: rgb(152, 216, 170);">DACChub</h6>
                <h6>
                    <small class="text-body-secondary" style="color: rgb(152, 216, 170); padding-left: 20vw;">Find your way around</small>
                </h6>
                </div> -->
            </div>
        </div>
    </div>
</header>



<body>
    

<div class="container mt-5">
    <h1>Login</h1>
  
    <% if (message) { %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% } %>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card mb-4">
          <div class="card-body mb-4">
  
            <!-- Makes POST request to /login route -->
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="enter">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password">
              </div>
              <br>
              <button type="submit" class="btn btn-dark">Login</button>
            </form>
            
  
          </div>
        </div>
      </div>
  
      
  
    </div>


    

  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  </body>
  </html>